<div>
  
    <footer class="bg-gray-800 text-gray-300 px-6 lg:px-8 py-6 md:py-12">
    <div class="max-w-screen-xl mx-auto border-b-2 border-gray-700 mb-12 lg:mb-16 py-6 md:py-12 lg:pb-20 md:flex md:justify-between md:items-center md:flex-row md:space-x-12 space-y-6 ">
      <div class="max-w-3xl flex-1 ">
        <h4 class="text-2xl sm:text-3xl md:text-4xl text-white font-medium">Built by Africans for Africans</h4>
        <p class="text-base md:text-xl font-medium text-gray-300 mt-4 leading-relaxed">We guarantee you full integrity of transactions. All users on our system are verified and reliable. If anything goes wrong, we settle you</p>
      </div>
      <a routerLink="register" class="inline-block bg-gradient-to-br from-indigo-600 to-indigo-700 hover:from-indigo-500 hover:to-indigo-700 font-semibold rounded-lg py-4 px-5 lg:px-8 text-white">Start using the app now</a>
    </div>
    <div class="max-w-screen-xl mx-auto grid md:grid-cols-2 lg:grid-cols-5 gap-6 lg:gap-x-8">
      <div>
        <h5 class="text-xl font-semibold text-white">Product</h5>
        <nav class="mt-4">
          <ul class="space-y-2">
            <li>
              <a href="#" class="font-normal text-base hover:text-gray-100">Landingpages</a>
            </li>
            <li>
              <a href="#" class="font-normal text-base hover:text-gray-100">Features</a>
            </li>
            <li>
              <a href="#" class="font-normal text-base hover:text-gray-100">Documentation</a>
            </li>
            <li>
              <a href="#" class="font-normal text-base hover:text-gray-100">Careers</a>
            </li>  
            <li>
              <a href="#" class="font-normal text-base hover:text-gray-100">Blocks</a>
            </li>
          </ul>
        </nav>
      </div>
      <div>
        <h5 class="text-xl font-semibold text-white">Industries</h5>
        <nav class="mt-4">
          <ul class="space-y-2">
            <li>
              <a href="#" class="font-normal text-base hover:text-gray-100">Employment</a>
            </li>
            <li>
              <a href="#" class="font-normal text-base hover:text-gray-100">Childcare</a>
            </li>
            <li>
              <a href="#" class="font-normal text-base hover:text-gray-100">Education</a>
            </li>
            <li>
              <a href="#" class="font-normal text-base hover:text-gray-100">Accountancy</a>
            </li>
            <li>
              <a href="#" class="font-normal text-base hover:text-gray-100">Wholesale</a>
            </li>
          </ul>
        </nav>
      </div>
      <div>
        <h5 class="text-xl font-semibold text-white">About us</h5>
        <nav class="mt-4">
          <ul class="space-y-2">
            <li>
              <a href="#" class="font-normal text-base hover:text-gray-100">Company</a>
            </li>
            <li>
              <a href="#" class="font-normal text-base hover:text-gray-100">Download brochure</a>
            </li>
            <li>
              <a href="#" class="font-normal text-base hover:text-gray-100">Media Kit</a>
            </li>
            <li>
              <a href="#" class="font-normal text-base hover:text-gray-100">Accountancy</a>
            </li>
          </ul>
        </nav>
      </div>
      <div>
        <h5 class="text-xl font-semibold text-white">Legal</h5>
        <nav class="mt-4">
          <ul class="space-y-2">
            <li>
              <a href="#" class="font-normal text-base hover:text-gray-100">Terms and conditions</a>
            </li>
            <li>
              <a href="#" class="font-normal text-base hover:text-gray-100">Security</a>
            </li>
            <li>
              <a href="#" class="font-normal text-base hover:text-gray-100">Privacy and Cookie Statement</a>
            </li>
            <li>
              <a href="#" class="font-normal text-base hover:text-gray-100">Processor Agreement</a>
            </li>
            <li>
              <a href="#" class="font-normal text-base hover:text-gray-100">Sitemap</a>
            </li>
          </ul>
        </nav>
      </div>
     
      <div>
        <h5 class="text-xl font-semibold text-white">Contact</h5>
        <div class="space-y-4 md:space-y-6 mt-4">
          <div class="flex items-start space-x-4">
            <div>
              <svg class="w-6 h-6 mt-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"></path><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"></path></svg>
            </div>
            <div class="flex-1">
              <address class="not-italic">
                Rondebosh<br>
                Cape Town<br>
                South Africa
              </address>
            </div>
          </div>
          <div class="flex items-start space-x-4">
            <div>
              <svg class="w-6 h-6 mt-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"></path></svg>
            </div>
            <div class="flex-1">
              <a href="#" class="hover:text-gray-100">sendng2021@gmail.com</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="max-w-screen-xl mx-auto flex flex-col md:flex-row justify-between items-center space-y-4 mt-16 lg:mt-20">
      <img class="h-8" src="assets/images/logo.svg" alt="UptimeMate logo">
      <div class="text-sm">
        &copy;2021 Studio Seigneur. All rights reserved.
      </div>
    </div>
  </footer>
    
  </div>