        <div *ngIf="showAlert" class="container">
            
            <!-- This example requires Tailwind CSS v2.0+ -->
        <div class="bg-indigo-600">
        <div class="max-w-7xl mx-auto py-3 px-3 sm:px-6 lg:px-8">
            <div class="flex items-center justify-between flex-wrap">
            <div class="w-0 flex-1 flex items-center">
                <span class="flex p-2 rounded-lg bg-indigo-800">
                <!-- Heroicon name: outline/speakerphone -->
                <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5.882V19.24a1.76 1.76 0 01-3.417.592l-2.147-6.15M18 13a3 3 0 100-6M5.436 13.683A4.001 4.001 0 017 6h1.832c4.1 0 7.625-1.234 9.168-3v14c-1.543-1.766-5.067-3-9.168-3H7a3.988 3.988 0 01-1.564-.317z" />
                </svg>
                </span>
                <p class="ml-3 font-medium text-white truncate">
                <span class="md:hidden">
                    {{message}}
                </span>
                <span class="hidden md:inline">
                    
                    {{message}}
                </span>
                </p>
            </div>
            <div class="order-3 mt-2 flex-shrink-0 w-full sm:order-2 sm:mt-0 sm:w-auto">
                <button (click)="installPwa()">
                    <a class="flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-indigo-600 bg-white hover:bg-indigo-50">
                        {{buttonMessage}}
                        </a>
                    </button>
                
            </div>
            <div class="order-2 flex-shrink-0 sm:order-3 sm:ml-3">
                <button type="button" class="-mr-1 flex p-2 rounded-md hover:bg-indigo-500 focus:outline-none focus:ring-2 focus:ring-white sm:-mr-2">
                <span class="sr-only">Dismiss</span>
                <!-- Heroicon name: outline/x -->
                <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                </svg>
                </button>
            </div>
            </div>
        </div>
        </div>



        
        </div>


        <div *ngIf="exchangeAmount" class="container">

            
            <!-- This example requires Tailwind CSS v2.0+ -->
        <div class="bg-indigo-600">
        <div class="max-w-7xl mx-auto py-3 px-3 sm:px-6 lg:px-8">
            <div class="flex items-center justify-between flex-wrap">
            <div class="w-0 flex-1 flex items-center">
                <span class="flex p-2 rounded-lg bg-indigo-800">
                <!-- Heroicon name: outline/speakerphone -->
                <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5.882V19.24a1.76 1.76 0 01-3.417.592l-2.147-6.15M18 13a3 3 0 100-6M5.436 13.683A4.001 4.001 0 017 6h1.832c4.1 0 7.625-1.234 9.168-3v14c-1.543-1.766-5.067-3-9.168-3H7a3.988 3.988 0 01-1.564-.317z" />
                </svg>
                </span>
                <p class="ml-3 font-medium text-white truncate">
                <span class="md:hidden">
                    {{exchangeAmount | number :'1.1-1'}}
                </span>
                <span class="hidden md:inline">
                    
                    {{thisQuote | number }} {{userSelectedCurrency}} will exchange for {{exchangeAmount | number :'1.1-1'}} {{notuserSelectedCurrency}}
                </span>
                </p>
            </div>
            <div class="order-3 mt-2 flex-shrink-0 w-full sm:order-2 sm:mt-0 sm:w-auto">
                <button (click)="processTransaction()">
                    <a class="flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-indigo-600 bg-white hover:bg-indigo-50">
                        {{buttonMessage}}
                        </a>
                    </button>
                
            </div>
            <div class="order-2 flex-shrink-0 sm:order-3 sm:ml-3">
                <button type="button" class="-mr-1 flex p-2 rounded-md hover:bg-indigo-500 focus:outline-none focus:ring-2 focus:ring-white sm:-mr-2">
                <span class="sr-only">Dismiss</span>
                <!-- Heroicon name: outline/x -->
                <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                </svg>
                </button>
            </div>
            </div>
        </div>
        </div>        
        </div>


        <section>
            <div class="container max-w-7xl mx-auto p-4 sm:p-6 lg:p-8 bg-white dark:bg-gray-800">
                <div class="flex flex-wrap -mx-8">
                    <div class="w-full lg:w-1/2 px-8">
                        <div class="mb-12 lg:mb-0 pb-12 lg:pb-0 border-b lg:border-b-0">
                            <!-- Adding cards -->

                            <!-- component -->
        <div class="leading-loose">
            <form class="max-w-xl m-4 p-10 bg-white rounded shadow-xl">
            <!-- <p class="text-gray-800 font-medium">Get a quote</p> -->
            
            <p class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl">
                Get a quote
            </p>

        <div class="mt-4">
            <label for="price" class="block text-sm font-medium text-gray-700">Amount to exchange</label>
            <div class="mt-1 relative rounded-md shadow-sm">
            <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                <span class="text-gray-500 sm:text-sm">
                {{selectedCurrencySymbol}}
                </span>
            </div>
            <input type="number" [(ngModel)]="amount" name="price" id="price" class="focus:ring-indigo-500 focus:border-indigo-500 block w-full pl-7 pr-12 sm:text-sm border-gray-300 rounded-md form-control" placeholder="0.00">
            <div class="absolute inset-y-0 right-0 flex items-center">
                <label for="currency" class="sr-only">Currency</label>
                <select  (change)="changeCurrency($event)" id="currency" name="currency" class="focus:ring-indigo-500 focus:border-indigo-500 h-full py-0 pl-2 pr-7 border-transparent bg-transparent text-gray-500 sm:text-sm rounded-md">
                <option value='Naira'>NGN</option>
                <option value='Rands'>ZAR</option>
                </select>
            </div>
            </div>
        </div>
        
            <p class="mt-4 text-gray-800 font-medium">You will get a quote for {{notuserSelectedCurrency}}</p>
        
            <div class="mt-4">
                <button class="px-4 py-1 text-white font-light tracking-wider bg-gray-900 rounded" (click)="calculateRate()">Get an offer</button>
            </div>
            </form>
        </div>

                            <!-- Ending card -->
                        </div>
                    </div>
                    <!-- The other card -->
                    <div class="w-full lg:w-1/2 px-8">
                        <ul class="space-y-12">
                            <li class="flex -mx-4">
                                <div class="px-4">
                                    <span class="flex w-16 h-16 mx-auto items-center justify-center text-2xl font-bold font-heading rounded-full bg-blue-50 text-blue-600">
                                        1
                                    </span>
                                </div>
                                <div class="px-4">
                                    <h3 class="my-4 text-xl font-semibold dark:text-white">
                                        Three step process
                                    </h3>
                                    <p class="text-gray-500 dark:text-gray-500 leading-loose">
                                        First enter the amount and select a currenty you are exchanging from
                                    </p>
                                </div>
                            </li>
                            <li class="flex -mx-4">
                                <div class="px-4">
                                    <span class="flex w-16 h-16 mx-auto items-center justify-center text-2xl font-bold font-heading rounded-full bg-blue-50 text-blue-600">
                                        2
                                    </span>
                                </div>
                                <div class="px-4">
                                    <h3 class="my-4 text-xl font-semibold dark:text-white">
                                        Get a quote
                                    </h3>
                                    <p class="text-gray-500 dark:text-gray-500 leading-loose text-base">
                                        The app calculates a quote based on the opposite currency and makes you an offer
                                    </p>
                                </div>
                            </li>
                            <li class="flex -mx-4">
                                <div class="px-4">
                                    <span class="flex w-16 h-16 mx-auto items-center justify-center text-2xl font-bold font-heading rounded-full bg-blue-50 text-blue-600">
                                        3
                                    </span>
                                </div>
                                <div class="px-4">
                                    <h3 class="my-4 text-xl font-semibold dark:text-white">
                                        Accept it and get matched
                                    </h3>
                                    <p class="text-gray-500 dark:text-gray-500 leading-loose">
                                    If you accept the offer, you will get an account to pay and we will do the rest behind the scenes
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
